apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: microservice-b
  template:
    metadata:
      labels:
        app: microservice-b
    spec:
      containers:
        - name: microservice-b
          image: SEU_DOCKERHUB/microservice-b:latest
          ports:
            - containerPort: 4000
          env:
            - name: SERVICE_NAME
              value: "Microservice B no Kubernetes"
