apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: microservice-a
  template:
    metadata:
      labels:
        app: microservice-a
    spec:
      containers:
        - name: microservice-a
          image: SEU_DOCKERHUB/microservice-a:latest
          ports:
            - containerPort: 3000
          env:
            - name: MESSAGE
              value: "Rodando no Kubernetes"
